@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    background-color: transparent;
    border: none;
}

input:focus, 
textarea:focus, 
select:focus, 
button:focus {
    outline: none;
}

button,
a {
  @apply hover:scale-105 duration-300;
}

button:disabled,
a:disabled {
  @apply hover:scale-100; /* замість hover:scale-105, щоб вимкнути ефект */
}
